entrega/*.csv
entrega/no-contactar.txt
entrega/entregas.md
*.vcf
contactos.csv
red-cercana.csv
donde-gasto.csv
cruce.csv
clientes.csv
bitacora.csv
bajas.csv
.DS_Store
*.respaldo
prueba-*/
mina.prueba.sql
